.sm-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  border: 0;
  border-radius: 6px;
  padding: 5px 28px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  font-size: 14px;
}

.sm-button--small {
  font-size: 10px;
  padding: 5px 16px;
}

.sm-button--medium {
  font-size: 12px;
  padding: 7px 20px;
}

.sm-button--large {
  font-size: 14px;
  padding: 10px 24px;
}

.sm-button--primary {
  color: white;
  background-color: #009aee;
  transition: background-color 0.3s;
}

.sm-button--primary:hover {
  background-color: #1484cd;
}

.sm-button--primary--false {
  color: #1484cd;
  background-color: white;
  transition: background-color 0.3s;
  border: 1px solid #1484cd;
}

.sm-button--primary--false:hover {
  background-color: #c6f1ff;
  color: #637381;
}

.sm-button--secondary {
  color: white;
  background-color: #25cba1;
  transition: background-color 0.3s;
}

.sm-button--secondary:hover {
  background-color: #1eaa87;
}

.sm-button--secondary--false {
  color: #1eaa87 !important;
  background-color: white;
  transition: background-color 0.3s;
  border: 1px solid #1eaa87;
}

.sm-button--secondary--false:hover {
  background-color: #c2f5e9;
}

.sm-button--tertiary {
  color: white;
  background-color: #111928;
  transition: background-color 0.3s;
}

.sm-button--tertiary:hover {
  background-color: #637381;
}

.sm-button--tertiary--false {
  background-color: white;
  color: #111928 !important;
  transition: background-color 0.3s;
  border: 1px solid #111928;
}

.sm-button--tertiary--false:hover {
  background-color: #dee2e6;
}
.sm-button--disabled {
  color: #6b7280;
  background-color: #e5e7eb;
  cursor: not-allowed;
}

.sm-button--disabled:hover {
  background-color: #e5e7eb;
}
