/* newButton.css */
.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    background: #1EAA87;
    color: white;
    transition: all 0.3s;
  }
  
  .storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
  }
  
  .storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
  }
  
  .storybook-button--large {
    font-size: 16px;
    padding: 15px 30px;
  }
  
  .storybook-button:hover {
    background: #2ECC71;
  }
  